body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #485861;
  color: #ffe6cf;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 500;
  overflow-x: hidden;
  margin-bottom: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #ffe6cf;
  text-decoration: none;
}

input {
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  text-align: center;
  transition: 0.2s;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.12);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffe6cf;
  font-size: 15px;
}

.mouse-effect {
  position: relative;
  overflow: hidden;
}

.mouse-effect:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.2s;
}

.mouse-effect:hover:after {
  background-color: rgba(0, 0, 0, 0.08);
}

.mouse-effect:active:after {
  background-color: rgba(0, 0, 0, 0.12);
  transition: 0s;
}

.gnb {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #394952;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.gnb a {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.gnb .active {
  opacity: 1;
}
